
<!--<h1>></h1>
<table class="table table-success table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>

    <th scope="row">1</th>
    <td></td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>-->
<h2 style="color: #B00100;margin: 0 auto">all items</h2>
<% @items.each do |e| %>
 <ul>
  <li><%= link_to  e.name, item_path(e)%></li>
  <li><%= e.price %></li>
  <li><%= e.description %></li>
  <li><%= link_to 'delete', item_path(e) %></li>
  <li><%= link_to 'edit',edit_item_path(e.id) %></li>
 </ul>
<% end %>
<br>
<%= link_to "new item", new_item_path %>
