<h2 style="color: #B00100;margin: 0 auto">create new_item</h2>

<%= form_tag items_path, method: :post do%>
  <%= label_tag :name%> <br>
  <%= text_field_tag :name%> <br>
  <%= label_tag :price%> <br>
  <%= text_field_tag :price%> <br>
  <%= label_tag :description%> <br>
  <%= text_field_tag :description%> <br> <br>
  <%= submit_tag "Save",class: "btn btn-primary" %> <br> <br>
<% end %>
